
.container{
    margin-top:70px;
}


#card-text{
    padding:30px;
}

.card-header{
    background-color: rgb(9, 231, 157) !important;
}

#currentTime{
    color:rgb(6, 95, 65);
    font-weight: bold;
    padding-bottom:20px;
    text-align:right;
}
.form-check{
    text-align:left;
    color: rgb(44, 146, 107);;
    padding:3px;
}

#questions{
    text-align:left;
    padding-top:10px, 2px, 2px 2px;
}

#result{
    color:rgb(2, 77, 15);
    font-weight:bold;
}
#resultHistory{
    margin-bottom:30px;
}
#Highscore{
    font-size: 20px;
    padding-bottom:10px;
}